@model int

<div class="product-actions btn-group">
    <!-- Detail View Button -->
    <a asp-action="Detail" asp-route-id="@Model" class="btn cog-button">
        <img src="/Images/Icons/Cog.png" alt="View Details" class="cog-icon" />
    </a>

   
</div>